html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  --icon-size: 24px;

  --white: #fff;
  --third-gray: rgba(187, 187, 187, .3);
  --half-gray: rgba(187, 187, 187, .5);
  --black: #111;
  --gray: #bbb;

  --color--50: #e8ecfb;
  --color--49: #e4e5f7;
  --color--48: #e0def3;
  --color--47: #ddd8ef;
  --color--46: #d9d0ea;
  --color--45: #d5c8e5;
  --color--44: #d1c1e1;
  --color--43: #ccb8db;
  --color--42: #c7b0d6;
  --color--41: #c3a8d1;
  --color--40: #be9fcc;
  --color--39: #b997c7;
  --color--38: #b58fc2;
  --color--37: #b087bd;
  --color--36: #ab7fb8;
  --color--35: #a778b4;
  --color--34: #a370af;
  --color--33: #9f69ab;
  --color--32: #9b62a7;
  --color--31: #965ba2;
  --color--30: #91549d;
  --color--29: #8c4e99;
  --color--28: #824d99;
  --color--27: #784c9a;
  --color--26: #6f4c9b;
  --color--25: #6a509f;
  --color--24: #6554a4;
  --color--23: #6059a9;
  --color--22: #5c5eae;
  --color--21: #5863b3;
  --color--20: #5568b8;
  --color--19: #526dbc;
  --color--18: #5073c0;
  --color--17: #4e79c5;
  --color--16: #4d7ec5;
  --color--15: #4d84c5;
  --color--14: #4d8ac6;
  --color--13: #4d8ec2;
  --color--12: #4d92bf;
  --color--11: #4e96bc;
  --color--10: #4f96bb;
  --color--9: #529bb6;
  --color--8: #549eb3;
  --color--7: #55a0af;
  --color--6: #57a2ac;
  --color--5: #59a5a9;
  --color--4: #5ba7a5;
  --color--3: #5da9a1;
  --color--2: #60ab9e;
  --color--1: #63ad99;
  --color-0: #66af94;
  --color-1: #69b190;
  --color-2: #6db389;
  --color-3: #72b583;
  --color-4: #77b77d;
  --color-5: #7eb876;
  --color-6: #81b973;
  --color-7: #8cbc68;
  --color-8: #94bc61;
  --color-9: #9dbd5a;
  --color-10: #a6be54;
  --color-11: #aebd50;
  --color-12: #b6bc4c;
  --color-13: #bebc48;
  --color-14: #c4b945;
  --color-15: #cab743;
  --color-16: #d1b541;
  --color-17: #d5b13f;
  --color-18: #d9ad3d;
  --color-19: #ddaa3c;
  --color-20: #dfa53b;
  --color-21: #e1a03a;
  --color-22: #e49c39;
  --color-23: #e59637;
  --color-24: #e69136;
  --color-25: #e78c35;
  --color-26: #e68534;
  --color-27: #e67f33;
  --color-28: #e67932;
  --color-29: #e57130;
  --color-30: #e46a2e;
  --color-31: #e4632d;
  --color-32: #e25a2b;
  --color-33: #e05129;
  --color-34: #df4828;
  --color-35: #dd3b26;
  --color-36: #db2e24;
  --color-37: #da2222;
  --color-38: #ce2220;
  --color-39: #c3221f;
  --color-40: #b8221e;
  --color-41: #ac211d;
  --color-42: #a0211c;
  --color-43: #95211b;
  --color-44: #892019;
  --color-45: #7d1f18;
  --color-46: #721e17;
  --color-47: #671c15;
  --color-48: #5c1b14;
  --color-49: #521a13;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

svg {
  width: var(--icon-size);
  height: var(--icon-size);

  fill: none;
  stroke: var(--black);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}
